<div class="d-flex gap-10">

  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="search" (keyup)="filter()">
  </mat-form-field>



  <mat-form-field>
    <mat-label>Age group</mat-label>
    <mat-select [(ngModel)]="ageGroup" (ngModelChange)="filter()">
      <mat-option value="">All</mat-option>

      @for (a of ageGroups(); track a.id) {
        <mat-option [value]="a.id">
          {{ a.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
  <!--

  <mat-form-field>
    <mat-label>Target group</mat-label>
    <mat-select [(ngModel)]="targetGroup" (ngModelChange)="filter()">

        <mat-option value="">All</mat-option>

        @for (group of targetGroup(); track group) {
            <mat-option [value]="group">
                {{ group }}
            </mat-option>
        }

    </mat-select>
</mat-form-field>

 
  <mat-form-field>
    <mat-label>Price from</mat-label>
    <input matInput type="number" [(ngModel)]="priceFrom" (keyup)="filter()">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Price to</mat-label>
    <input matInput type="number" [(ngModel)]="priceTo" (keyup)="filter()">
  </mat-form-field>

</div> -->  

<!-- TOYS LIST -->
<div class="d-flex gap-5 flex-wrap">
  @for (t of filteredToys(); track t.id) {
    <mat-card class="toy-card" appearance="outlined">
      <img mat-card-image [src]="utils.getImageUrl(t)" [alt]="t.name">
      <mat-card-content >
        <mat-card-title><strong>{{ t.name }}</strong></mat-card-title>
        <mat-card-subtitle>{{ t.type.name }} • {{ t.ageGroup.name }}</mat-card-subtitle>
        <p>{{ t.description }}</p>
        <p><strong>{{ t.price }} €</strong></p>
      </mat-card-content>
      <mat-card-actions>
        <a [routerLink]="`/toy/${t.id}`" matButton>
          <mat-icon fontIcon="info" /> Details
        </a>
      </mat-card-actions>

    </mat-card>

  }

</div>